<nav class="navbar bg-primary" data-bs-theme="dark">
  <div style="margin-left: 20px; padding: 10px;">
    <i style="font-size:25px" class="fa-brands fa-stack-exchange"></i>
  </div>
  <div style="margin-right: 20px; padding: 10px;" *ngIf="!retrievedUserData">
    <a routerLink="login" style="color:white; margin-right: 15px; text-decoration: none;"  [routerLinkActive]="'active'">Login</a>
    <a routerLink="signup" style="color:white; text-decoration: none;"  [routerLinkActive]="'active'">Signup</a>&nbsp;&nbsp;
  </div>
  <div style="margin-right: 20px; padding: 10px;" *ngIf="retrievedUserData">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
</nav>

<router-outlet></router-outlet>