<div class="container">
    <div class="row">
        <div class="col-12 second-container">
            <div class="mt-3 mb-3">
                <div class="mb-3">
                    <button type="button" class="btn btn-primary d-none d-md-block w-25" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Task</button>
                    <button type="button" class="btn btn-primary d-md-none d-block w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Task</button>
                </div>
                <div style="background-color: white;" class="shadow-sm p-3 d-md-flex justify-content-between">
                    <div class="mb-2">
                        <span>Search:</span>
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keydown)="search($event)">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Sort:</label>
                        <select id="inputState" class="form-select" aria-label="Default select example" (change)="sort($event)">
                            <option>sort</option>
                            <option >recent</option>
                          </select>
                    </div>
                </div>
            </div> 
        </div>
         <div class="col-12 col-md-4">
            <div class="shadow-sm p-3 mb-3">
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Todo Details</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Title: {{viewData?.name}}</p>
                          <p>Description: {{viewData?.description}}</p>
                          <p>date: {{viewData?.createdat }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Todo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="todoForm" (ngSubmit)="senddata()">
                                <div class="form-group mb-1">
                                  <label for="exampleInputEmail1">Title</label>
                                  <input type="text" class="form-control" id="exampleInputEmail1" formControlName="name"  aria-describedby="emailHelp" placeholder="Title">
                                  <small class="error-msg" *ngIf="todoForm.get('name')?.invalid && todoForm.get('name')?.touched">*Required</small>
                                </div>
                                <div class="form-group mb-1">
                                  <label for="exampleInputPassword1">description</label>
                                  <input type="text" class="form-control" id="exampleInputPassword1" formControlName="description" placeholder="description">
                                  <small class="error-msg" *ngIf="todoForm.get('description')?.invalid && todoForm.get('description')?.touched">*Required</small>
                                </div>
                                <div class="form-group mb-3" *ngIf="!editingItemId">
                                    <label for="exampleInputPassword2">created at</label>
                                    <input type="datetime-local" class="form-control" id="exampleInputPassword2" formControlName="createdat" placeholder="date">
                                    <small class="error-msg" *ngIf="todoForm.get('createdat')?.invalid && todoForm.get('createdat')?.touched">*Required</small>
                                  </div>
                                  <div class="text-end">
                                    <button type="submit" class="btn btn-primary ms-2"  data-bs-dismiss="modal" [disabled]="!todoForm.valid">Save changes</button>
                                    <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">Close</button>
                                  </div>
                              </form>
                            </div>
                        </div>
                    </div>
                    </div>
                <div style="background-color: #5499F8; padding:8px" class="mb-2">
                    <p style="color:white;">TODO</p>
                </div>
                <div style="background-color:#D6E6FD; padding:15px;" *ngFor="let k of todoItems" class="mb-2">
                    <p style="margin: 0px;">{{k.name}}</p>
                    <p class="mb-5 m-0">{{k.description}}</p>
                    <p class="mb-2">{{k.createdat}}</p>
                    <div class="text-end">
                        <button class="ms-2  m-md-1  btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(k)">Edit</button>
                        <button class="ms-2  m-md-1 btn btn-danger" (click)="delete(k._id)">Delete</button>
                        <button class="ms-2  m-md-1 btn btn-info" style="color:white" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="view(k)">View</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="shadow-sm p-3 mb-3">
                <div style="background-color: #5499F8; padding:8px" class="mb-2">
                    <p style="color:white">In Progress</p>
                </div>
                <div style="background-color:#D6E6FD; padding:15px;" class="mb-2">
                    <p style="margin: 0px;">Todo4</p>
                    <p class="mb-5 m-0">hello</p>
                    <p class="mb-2">12/3/2024, 12:22:08</p>
                    <div class="text-end">
                        <button class="ms-2  m-md-1  btn btn-primary">Edit</button>
                        <button class="ms-2  m-md-1 btn btn-danger">Delete</button>
                        <button class="ms-2  m-md-1 btn btn-info"style="color:white">View</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="shadow-sm p-3 mb-3">
                <div style="background-color: #5499F8; padding:8px" class="mb-2">
                    <p style="color:white">Done</p>
                </div>
                <div style="background-color:#D6E6FD; padding:15px;"class="mb-2">
                    <p style="margin: 0px;">Todo5</p>
                    <p class="mb-5 m-0">hello world</p>
                    <p class="mb-2">25/7/2024, 7:22:08</p>
                    <div class="text-end">
                        <button class="ms-2  m-md-1  btn btn-primary">Edit</button>
                        <button class="ms-2  m-md-1 btn btn-danger">Delete</button>
                        <button class="ms-2  m-md-1 btn btn-info"style="color:white">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
